###########################
# OmniROM find7 sepolicy
#

allow qti_init_shell lvm_device:blk_file { getattr };
allow qti_init_shell vold_prop:property_service set;
