###########################
# OmniROM find7 sepolicy
#

allow init lvm_placeholder:process dyntransition;
allow init self:process setcurrent;
allow init lvm_device:blk_file { getattr relabelto };
allow init device:blk_file { relabelfrom };
