###########################
# OmniROM sepolicy
#
type lvm, domain;
domain_trans(init,rootfs,lvm)
typeattribute lvm lvm_placeholder;

allow lvm rootfs:file execute_no_trans;
allow lvm proc:file r_file_perms;
allow lvm proc:dir search;
allow lvm rootfs:file create_file_perms;
allow lvm rootfs:dir create_dir_perms;
allow lvm rootfs:dir { mounton };
allow lvm kernel:process { setsched };
allow lvm labeledfs:filesystem { mount };
allow lvm ram_device:blk_file { getattr };
allow lvm loop_device:blk_file { getattr };
allow lvm console_device:chr_file { getattr };
allow lvm dm_device:chr_file { getattr };
allow lvm adb_device:chr_file { getattr };
allow lvm sensors_device:chr_file { getattr };
allow lvm fscklogs:dir { read open getattr };
allow lvm tty_device:chr_file { getattr };
allow lvm tun_device:chr_file { getattr };
allow lvm uhid_device:chr_file { getattr };
allow lvm usbaccessory_device:chr_file { getattr };
allow lvm vcs_device:chr_file { getattr };
allow lvm video_device:chr_file { getattr };
allow lvm qtaguid_device:chr_file { getattr };
allow lvm sysfs:file { write };
allow lvm kmem_device:chr_file { getattr };
allow lvm tmpfs:chr_file rw_file_perms;
allow lvm devpts:chr_file { read write open };
allow lvm system_file:file { execute_no_trans };
allow lvm self:process setcurrent;
allow lvm self:capability { mknod dac_override sys_rawio };
allow lvm init:process dyntransition;
allow lvm init:dir { read open search };
allow lvm init:file { read open };
allow lvm init:unix_stream_socket { read write };
allow lvm device:chr_file { getattr create read write open ioctl };
allow lvm device:blk_file { create setattr getattr read open ioctl };
allow lvm device:lnk_file { create };
allow lvm device:dir { read open write add_name create search };
allow lvm block_device:blk_file { getattr read open ioctl write };
allow lvm block_device:dir { read open getattr search };
allow lvm full_device:chr_file { getattr };
allow lvm fuse_device:chr_file { getattr };
allow lvm graphics_device:dir { read open getattr search };
allow lvm graphics_device:chr_file { getattr };
allow lvm input_device:dir { read open getattr search };
allow lvm input_device:chr_file { getattr };
allow lvm kmsg_device:chr_file { getattr };
allow lvm mtd_device:dir { read open getattr };
allow lvm mtd_device:chr_file { getattr };
allow lvm radio_device:blk_file { getattr };
allow lvm radio_device:chr_file { getattr};
allow lvm mtp_device:chr_file { getattr };
allow lvm ppp_device:chr_file { getattr };
allow lvm devpts:dir { read open getattr };
allow lvm devpts:chr_file { getattr };
allow lvm gpu_device:chr_file { getattr };
allow lvm camera_device:chr_file { getattr };
allow lvm hci_attach_dev:chr_file { getattr };
allow lvm gps_device:chr_file { getattr };
allow lvm audio_device:dir { read open getattr };
allow lvm audio_device:chr_file { getattr };
allow lvm property_socket:sock_file { getattr };
allow lvm adbd_socket:sock_file { getattr };
allow lvm log_device:dir { read open getattr search };
allow lvm qdsp_device:chr_file { getattr };
allow lvm mmc_block_device:blk_file { getattr };
allow lvm modem_block_device:blk_file { getattr };
allow lvm modem_efs_partition_device:blk_file { getattr };
allow lvm rpmb_device:blk_file { getattr };
allow lvm device_latency:chr_file { getattr };
allow lvm nfc_device:chr_file { getattr };
allow lvm tee_device:chr_file { getattr };
allow lvm rmnet_device:chr_file { getattr };
allow lvm smd_device:chr_file { getattr };
allow lvm smem_log_device:chr_file { getattr };
allow lvm ssr_device:chr_file { getattr };
allow lvm rtc_device:chr_file { getattr };
allow lvm usf_device:chr_file { getattr };
allow lvm uio_device:chr_file { getattr };
allow lvm serial_device:chr_file { getattr };
allow lvm thermal_device:chr_file { getattr };
allow lvm voice_device:chr_file { getattr };
allow lvm hvdcp_device:chr_file { getattr };
allow lvm wcnss_device:chr_file { getattr };
allow lvm ramdump_device:chr_file { getattr };
allow lvm video_device:dir { read open getattr search };
allow lvm modem_block_device:blk_file { getattr read open ioctl };
