on early-init
# set up LVM volumes
    wait /dev/block/platform/msm_sdcc.1/by-name/userdata
    wait /dev/block/platform/msm_sdcc.1/by-name/sdcard
    exec /sbin/lvm vgscan --mknodes --ignorelockingfailure
    exec /sbin/lvm vgchange -aly --ignorelockingfailure
    exec /sbin/sh /lvm_init.sh

on init

service qhdcp /sbin/qhdcp.sh
    oneshot
    disabled

on property:ro.oppo.device=find7s
    start qhdcp
