#
# Copyright 2012 The Android Open Source Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

import init.oppo.common.rc
import init.qcom.power.rc

on early-init
# LVM: set up LVM volumes
    #First wait for the physical volumes to be available.  Init appears to
    #start before the MMC driver comes up and creates the block devices
    wait /dev/block/platform/msm_sdcc.1/by-name/userdata
    wait /dev/block/platform/msm_sdcc.1/by-name/sdcard

    #Scan for LVM partitions.  Our lvm.conf restricts this to the userdata and sdcard partitions
    exec u:r:lvm:s0 root root -- /sbin/lvm vgscan --mknodes --ignorelockingfailure

    #Activate any partitions found
    exec u:r:lvm:s0 root root -- /sbin/lvm vgchange -aly --ignorelockingfailure

service thermal-engine /system/bin/thermal-engine
    class main
    user root
    group root
    socket thermal-send-client stream 0666 system system
    socket thermal-recv-client stream 0660 system system
    socket thermal-recv-passive-client stream 0666 system system
    disabled
