#
# Copyright 2012 The Android Open Source Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

import init.oppo.usb.rc

on early-init
    mkdir /firmware 0771 system system
    symlink /data/tombstones /tombstones
    mount debugfs debugfs /sys/kernel/debug
# LVM: set up LVM volumes
    #First wait for the physical volumes to be available.  Init appears to
    #start before the MMC driver comes up and creates the block devices
    wait /dev/block/platform/msm_sdcc.1/by-name/userdata
    wait /dev/block/platform/msm_sdcc.1/by-name/sdcard
    #Scan for LVM partitions.  Our lvm.conf restricts this to the userdata and sdcard partitions
    exec_context u:r:lvm:s0 /sbin/lvm vgscan --mknodes --ignorelockingfailure
    #Activate any partitions found
    exec_context u:r:lvm:s0 /sbin/lvm vgchange -aly --ignorelockingfailure
    #Detect if LVM is active and copy the appropriate fstabs and environment RCs for
    #the detected configuration.  See the script source for details
    #Requires busybox to be added to the initial ramdisk of the kernel
    setcon u:r:lvm:s0
    exec /sbin/static/busybox sh /lvm_init.sh
    setcon u:r:init:s0

on init
    # Set permissions for persist partition
    mkdir /persist 0771 system system

    #We make all directories and symlinks for both storage configurations,
    #except for ones that are incompatible/will conflict (mostly sdcard0-related)
    #The extra directories are harmless and unused if the other storage
    #config is present
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root
    mkdir /mnt/media_rw/usbdisk 0555 root root
    mkdir /storage/usbdisk 0775 system system

    mkdir /mnt/media_rw/sdcard0 0775 media_rw media_rw

    mkdir /mnt/media_rw/sdcard1 0775 media_rw media_rw
    mkdir /storage/sdcard1 0775 root root

    #This file was copied as part of lvm_init, and determines some of the
    #storage configuration environment variables
    export_rc init.fs.rc

    # for backwards compatibility
    # Some symlinks conflict with each other, so handle them with a shell script
    # These can't be in lvm_init.sh as that's too early
    exec /sbin/static/busybox sh /lvm_symlinks.sh
    symlink /storage/sdcard1 /extSdCard
    symlink /storage/sdcard1 /mnt/extSdCard

    symlink /storage/usbdisk /usbdisk
    symlink /storage/usbdisk /mnt/usbdisk

    # bluetooth
    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth

on fs
    #This will safely error out on non-lvm configs
    restorecon /dev/mapper/lvpool-userdata

    #this fstab was also copied by lvm_init.sh
    mount_all ./fstab.qcom

    # Keeping following partitions outside fstab file. As user may not have
    # these partition flashed on the device. Failure to mount any partition in fstab file
    # results in failure to launch late-start class.

    wait /dev/block/platform/msm_sdcc.1/by-name/cache
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/cache /cache nosuid nodev barrier=1

    wait /dev/block/platform/msm_sdcc.1/by-name/persist
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/persist /persist nosuid nodev barrier=1
    restorecon_recursive /persist

    wait /dev/block/platform/msm_sdcc.1/by-name/modem
    mount vfat /dev/block/platform/msm_sdcc.1/by-name/modem /firmware ro shortname=lower,uid=1000,gid=1000,dmask=227,fmask=337,context=u:object_r:firmware_file:s0

on early-boot
    #Last phase of LVM configuration.  setprop requires property service
    #to be started so we can't put it in lvm_init.sh or lvm_symlinks.sh
    #Currently we're using the system shell as /system is mounted,
    #but this may need to be reworked to use toolbox+sh to support
    #recovery
    exec /system/bin/logwrapper /system/bin/sh /lvm_setprop.sh

    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864
    write /sys/kernel/boot_adsp/boot 1

on boot
    #Oppo nv dump stuff - probably needed for BT MAC address.
    #hci_qcomm_init does want to look here
    mkdir /data/opponvitems  0771 radio radio

    #Create QMUX deamon socket area
    mkdir /dev/socket/qmux_radio 0770 radio radio
    chmod 2770 /dev/socket/qmux_radio
    mkdir /dev/socket/qmux_audio 0770 media audio
    chmod 2770 /dev/socket/qmux_audio
    mkdir /dev/socket/qmux_bluetooth 0770 bluetooth bluetooth
    chmod 2770 /dev/socket/qmux_bluetooth
    mkdir /dev/socket/qmux_gps 0770 gps gps
    chmod 2770 /dev/socket/qmux_gps

    #Light Permissions
    #below are additions to the AOSP init.rc. Entries for button-backlight are located there.
    chown system system /sys/class/leds/rgb_red/blink
    chown system system /sys/class/leds/rgb_red/duty_pcts
    chown system system /sys/class/leds/rgb_red/ramp_step_ms
    chown system system /sys/class/leds/rgb_red/brightness
    chown system system /sys/class/leds/rgb_blue/brightness
    chown system system /sys/class/leds/rgb_green/brightness

    #Start rmnet_usb driver
    write /sys/module/rmnet_usb/parameters/rmnet_data_init 1

    # Allow QMUX daemon to assign port open wait time
    chown radio radio /sys/devices/virtual/hsicctl/hsicctl0/modem_wait

    #Remove SUID bit for iproute2 ip tool
    chmod 0755 /system/bin/ip

    #port-bridge
    chmod 0660 /dev/smd0
    chown system system /dev/smd0

    #BT DUN port-bridge
    chmod 0660 /dev/smd7
    chown bluetooth bluetooth /dev/smd7

    chmod 0444 /sys/devices/platform/msm_hsusb/gadget/usb_state

    # create symlink for fb1 as HDMI
    symlink /dev/graphics/fb1 /dev/graphics/hdmi

    # Remove write permissions to video related nodes
    chmod 0664 /sys/devices/virtual/graphics/fb1/hpd
    chmod 0664 /sys/devices/virtual/graphics/fb1/video_mode
    chmod 0664 /sys/devices/virtual/graphics/fb1/format_3d

    # Change owner and group for media server and surface flinger
    chown system system /sys/devices/virtual/graphics/fb1/format_3d
    chown system system /sys/devices/virtual/graphics/fb1/hpd

    # MDP idle notifier
    chown system graphics /sys/class/graphics/fb0/idle_time
    chmod 0664 /sys/class/graphics/fb0/idle_time

    #For bridgemgr daemon to inform the USB driver of the correct transport
    chown radio radio /sys/class/android_usb/f_rmnet_smd_sdio/transport

    chmod 660 /dev/rtc0
    chown system system /dev/rtc0

    chown root system /proc/net/ip_conntrack

    # NFC
    chmod 0600 /dev/pn544
    chown nfc nfc /dev/pn544

    # Enable DEBUG_SUSPEND, DEBUG_EXIT_SUSPEND, and DEBUG_WAKEUP
    write /sys/module/wakelock/parameters/debug_mask 7

    #To allow interfaces to get v6 address when tethering is enabled
    write /proc/sys/net/ipv6/conf/rmnet0/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet1/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet2/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet3/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet4/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet5/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet6/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet7/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio0/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio1/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio2/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio3/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio4/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio5/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio6/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio7/accept_ra 2

    ## Torch led
    chown system camera /sys/class/leds/led:flash_torch/brightness
    chmod 0666 /sys/class/leds/led:flash_torch/brightness

    # Assign TCP buffer thresholds to be ceiling value of technology maximums
    # Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max  2097152
    write /proc/sys/net/core/wmem_max  2097152

    # Enable Power modes and set the CPU Freq Sampling rates
    write /sys/module/lpm_levels/enable_low_power/l2 4
    write /sys/module/msm_pm/modes/cpu0/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu1/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu2/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu3/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu0/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu1/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu2/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu3/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu0/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu1/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu2/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu3/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu0/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu1/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu2/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu3/standalone_power_collapse/idle_enabled 1
    # From the original setup scriptage, revisions != 1.0 disable retention...
    write /sys/module/msm_pm/modes/cpu0/retention/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu1/retention/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu2/retention/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu3/retention/idle_enabled 1
    write /sys/module/msm_thermal/core_control/enabled 1
    chown root.system /sys/devices/system/cpu/cpu1/online
    chown root.system /sys/devices/system/cpu/cpu2/online
    chown root.system /sys/devices/system/cpu/cpu3/online
    chmod 664 /sys/devices/system/cpu/cpu1/online
    chmod 664 /sys/devices/system/cpu/cpu2/online
    chmod 664 /sys/devices/system/cpu/cpu3/online
    write /dev/cpuctl/apps/cpu.notify_on_migrate 1

    # block
    write /sys/block/mmcblk0/queue/read_ahead_kb 1024
    write /sys/block/mmcblk0/bdi/read_ahead_kb 1024

    # touchscreen
    chown system system /sys/kernel/touchscreen/camera_enable
    chown system system /sys/kernel/touchscreen/flashlight_enable
    chown system system /sys/kernel/touchscreen/double_tap_enable

    # cpuquiet
    chown system system /sys/devices/system/cpu/cpuquiet/cpuquiet_driver/max_cpus

    # GPU
    chown system system /sys/class/kgsl/kgsl-3d0/max_pwrlevel

    start qcamerasvr
    start config_bluetooth
    #start mpdecision
    start sensors

    # Update WIFI MAC address
    start mac-update

# msm specific files that need to be created on /data
on post-fs-data
    # Mounting of persist is moved to 'on emmc-fs' and 'on fs' sections
    # We chown/chmod /persist again so because mount is run as root + defaults
    chown system system /persist

    # Create the directories used by the Wireless subsystem
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    # to observe dnsmasq.leases file for dhcp information of soft ap.
    chown dhcp system /data/misc/dhcp

    mkdir /data/misc/wifi/prima 0775 wifi wifi

    write /dev/wcnss_wlan 1
    write /sys/module/wcnss_ssr_8960/parameters/enable_riva_ssr 1

    # NFC: create data/nfc for nv storage
    mkdir /data/nfc 770 nfc nfc
    mkdir /data/nfc/param 770 nfc nfc

    # Create directory used by audio subsystem
    mkdir /data/misc/audio 0770 audio audio

    chmod 0664 /sys/devices/platform/msm_sdcc.1/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.2/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.3/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.4/polling

    # Chown polling nodes as needed from UI running on system server
    chown system system /sys/devices/platform/msm_sdcc.1/polling
    chown system system /sys/devices/platform/msm_sdcc.2/polling
    chown system system /sys/devices/platform/msm_sdcc.3/polling
    chown system system /sys/devices/platform/msm_sdcc.4/polling

    mkdir /data/system 0775 system system

    #Create directory used by sensor subsystem(dsps)
    mkdir /data/system/sensors
    chmod 775 /data/system/sensors
    write /data/system/sensors/settings 1
    chmod 664 /data/system/sensors/settings

    # AKM setting data
    mkdir /data/misc/sensors
    chmod 775 /data/misc/sensors

    mkdir /persist/sensors
    chmod 775 /persist/sensors

    #Provide the access to hostapd.conf only to root and group
    chmod 0660 /data/hostapd/hostapd.conf

    # Enable the setgid bit on the directory
    mkdir /data/audio 0770 media audio
    chmod 2770 /data/audio

    #Create directories for gpsone_daemon services
    mkdir /data/misc/gpsone_d 0770 system gps

    #Create directories for QuIPS
    mkdir /data/misc/quipc 0770 gps system

    #Create directories for Location services
    mkdir /data/misc/location 0770 gps gps
    mkdir /data/misc/location/mq 0770 gps gps
    mkdir /data/misc/location/xtwifi 0770 gps gps

    # kickstart
    mkdir /data/qcks 0770 system system
    chown system /dev/block/platform/msm_sdcc.1/by-name

    # Create /data/time folder for time-services
    mkdir /data/time/ 0700 system system

    setprop qcom.audio.init complete

    rm /data/local/tmp/adreno_config.txt

    # LED On/Off synchronization
    chown system system /sys/class/leds/red/device/lock

    # communicate with mpdecision and thermald
    mkdir /dev/socket/mpdecision 0770 system system
    chmod 2770 /dev/socket/mpdecision

    # Tombstone dropboxes
    mkdir /data/tombstones 0771 system system
    mkdir /data/tombstones/modem 0771 system system
    mkdir /data/tombstones/lpass 0771 system system
    mkdir /data/tombstones/wcnss 0771 system system
    mkdir /data/tombstones/dsps 0771 system system

    setprop vold.post_fs_data_done 1

on charger
    # Enable Power modes and set the CPU Freq Sampling rates
    write /sys/module/lpm_levels/enable_low_power/l2 4
    write /sys/module/msm_pm/modes/cpu0/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu1/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu2/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu3/power_collapse/suspend_enabled 1

    # silene cgroup warnings
    chmod 0660 /dev/cpuctl

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd

#MSM IPC router security configuration
service irsc_util /system/bin/irsc_util "/system/etc/sec_config"
    class main
    user root
    oneshot

service rmt_storage /system/bin/rmt_storage
    class core
    user root

service rfs_access /system/bin/rfs_access
   class core
   user system
   group system net_raw

on property:ro.boot.emmc=true
    start rfs_access

# Update WIFI MAC address
service mac-update /system/bin/logwrapper /system/bin/mac-update
    class main
    user root
    oneshot
    
#service bdAddrLoader /system/bin/bdAddrLoader -f /persist/bluetooth/.bdaddr -h -x
#    class main
#    user bluetooth
#    group system bluetooth
#    oneshot 

service config_bluetooth /system/bin/sh /system/etc/init.qcom.bt.sh "onboot"
    class core
    user root
    oneshot

service hciattach /system/bin/sh /system/etc/init.qcom.bt.sh
    class late_start
    user bluetooth
    group qcom_oncrpc bluetooth net_bt_admin system
    disabled
    oneshot

on property:bluetooth.hciattach=true
    start hciattach

on property:bluetooth.hciattach=false
    setprop bluetooth.status off

#service bridgemgrd /system/bin/bridgemgrd
#    class main
#    user radio
#    group radio

# QMUX must be in multiple groups to support external process connections
service qmuxd /system/bin/qmuxd
    class main
    user radio
    group radio audio bluetooth gps qcom_diag

service audiod /system/bin/audiod
    class main
    user system
    group audio

service netmgrd /system/bin/netmgrd
    class main

service sensors /system/bin/sensors.qcom
    class late_start
    user root
    group root
    disabled

service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -O/data/misc/wifi/sockets \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    #   we will start as root and wpa_supplicant will switch to user wifi
    #   after setting up the capabilities required for WEXT
    #   user wifi
    #   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service p2p_supplicant /system/bin/wpa_supplicant \
    -ip2p0 -Dnl80211 -c/data/misc/wifi/p2p_supplicant.conf \
    -I/system/etc/wifi/p2p_supplicant_overlay.conf -N \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -O/data/misc/wifi/sockets -puse_p2p_group_interface=1 \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
#   we will start as root and wpa_supplicant will switch to user wifi
#   after setting up the capabilities required for WEXT
#   user wifi
#   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot


service dhcpcd_wlan0 /system/bin/dhcpcd -aABDKL
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -BKLG
    disabled
    oneshot

on property:ro.data.large_tcp_window_size=true
    # Adjust socket buffer to enlarge TCP receive window for high bandwidth (e.g. DO-RevB)
    write /proc/sys/net/ipv4/tcp_adv_win_scale  1

service charger /sbin/healthd -c
    class charger
    critical
    seclabel u:r:healthd:s0

#start camera server as daemon
service qcamerasvr /system/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera system inet input graphics

service thermal-engine /system/bin/thermal-engine
   class main
   user root
   group root
   socket thermal-send-client stream 0666 system system
   socket thermal-recv-client stream 0660 system system
   socket thermal-recv-passive-client stream 0666 system system

#service mpdecision /system/bin/mpdecision --avg_comp
#   class core
#   user root
#   disabled

#service conn_init /system/bin/conn_init
#    class late_start
#    user system
#    group system wifi
#    oneshot

#service qcom-post-boot /system/bin/sh /system/etc/init.qcom.post_boot.sh
#    class late_start
#    user root
#    disabled
#    oneshot


# bugreport is triggered by holding down volume down, volume up and power
service bugreport /system/bin/bugmailer.sh -v
    class main
    disabled
    oneshot
    keycodes 114 115 116

service qseecomd /system/bin/qseecomd
    class core
    user root
    group root

service wcnss-service /system/bin/wcnss_service
   class late_start
   user root
   group system wifi
   oneshot

service time_daemon /system/bin/logwrapper /system/bin/time_daemon
    class late_start
    user root
    group root radio qcom_diag

service adsprpcd /system/bin/adsprpcd
   class main
   user media
   group media

service diag_mdlog /system/bin/diag_mdlog -s 100
    class late_start
    disabled

# on property:gsm.sim.state=READY
#    start diag_mdlog

# virtual sdcard daemon running as media_rw (1023)
# Init doesn't handle conditionals well, so we can't disable this depending on if LVM is present or not
# Fortunately, the emulated storage daemon is harmless if it runs on a non-emulated (non-LVM) configuration.
# /data/media is empty and no one looks at /mnt/shell/emulated in a non-emulated configuration
service fuse /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
    class late_start

#However, this daemon will really screw up LVM configurations.  There's good news though:
#Unlike the sdcard daemon for emulated storage, these daemons (which are required in KitKat
#but not 4.3 and earlier) are only run after vold mounts the volume (the name of the
#service that runs is determined by the fstab)
#Also - notice that instead of using Oppo's special ext4 driver to make DOS-like permissions, we're
#using the fuse daemon in a similar manner to emulated storage.  Oppo's ext4 driver really fouls
#up the underlying permissions, so we do a recursive chown on boot before firing up the daemon.
#This is dependent on some vold patches to support ext4 - Omni has added support for ext4, exfat,
#and a few other file systems to vold so people can use those on external SD cards, but it can
#also be used for internal storage
service fuse_sdcard0 /system/bin/sh /system/etc/init.sdcard_perms.sh
    class late_start
    disabled

service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start
    disabled

service fuse_usbdisk /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/usbdisk /storage/usbdisk
    class late_start
    disabled
